.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.row {
    display: grid;
    grid: repeat(1, 16vw) / auto-flow;
}

.row > .square {
    margin: 10px;
}

.animal {
    position: absolute;
    left: 0;
    top: 0;
    fill: saddlebrown;
    height: 50%;
    width: 50%;
}

.habitat {
    position: relative;
}
