.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.row {
    display: grid;
    grid: repeat(1, 16vw) / auto-flow;
}

.row > .square {
    margin: 10px;
}

.animal {
    position: absolute;
    left: 0;
    height: 25%;
    width: 25%;
    z-index: 1;
}

.habitat {
    position: absolute;
    width: 100%;
    left: 0;
}

.column {
    position: relative;
    width: 100%;
    height: 100%;
}
