replicaCount: 1

image:
  registry: ""
  repository: "monkey-forest"
  tag: "latest"
  pullPolicy: Never

service:
  type: ClusterIP
  port: 80
  targetPort: 80

ingress:
  enabled: true
  className: nginx
  host: "monkey-forest.k8s.local"

resources:
  requests:
    memory: "64Mi"
    cpu: "50m"
  limits:
    memory: "256Mi"
    cpu: "200m"

serviceAccount:
  create: false
  name: ""
  annotations: {}

healthCheck:
  enabled: false

readinessCheck:
  enabled: false
